---
permalink: share/x.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="en">
  <id>{{ site.url }}/</id>
  <title>{{ site.title | escape_html }}</title>
  <subtitle>{{ site.description | escape_html }}</subtitle>
  <updated>{{ albums | last | map: 'date' | join }}T00:00:00.000Z</updated>
  <link href="{{ site.url }}/x.xml" rel="self" />
  <author>
    <name>{{ site.title | escape_html }}</name>
    <uri>{{ site.url }}</uri>
  </author>
  <category term="music" />
  {% assign latest_albums = albums | reverse | slice: 0, 10 %}
  {% for album in latest_albums %}
    {% assign formatted_date = album.date | format_date %}
    {% assign album_url = site.url | append: '/' | append: album.date | append: '/' %}
    <entry>
      <id>{{ site.url }}/{{ album.date }}/</id>
      <title>{{ album | generate_caption: formatted_date, album_url, 'x' | escape_html }}</title>
      {% if album.coverArt %}
        <summary>{{ site.url }}/{{ album.date }}/cover-art.webp</summary>
      {% else %}
        <summary>{{ site.url }}/default-cover-art.webp</summary>
      {% endif %}
      <updated>{{ album.date }}T00:00:00.000Z</updated>
      <link href="{{ album_url }}" rel="alternate" />
    </entry>
  {% endfor %}
</feed>